@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 80px;
    background-color: #f3e5f5;
}

/* Header Bar Styles */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Container to align items */
.top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Logo Styles */
.logo img {
    height: 80px;
    cursor: pointer;
    margin-left: 20px;
}

/* Notifications and Profile Container Styles */
.Items {
    display: flex;
    align-items: center;

    img {
        height: auto;
        cursor: pointer;
        margin-right: 20px;
    }
}

/* Side bar styles */
.left-sidebar {
    width: 360px;
    min-width: 108px;
    height: 100vh;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
    position: fixed;
}

.menu-items {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    margin-left: 10px;
}

.menu-items div {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
    text-align: center;
    margin-bottom: 10px;
    max-height: 40px;
}

.menu-items .home {
    background: linear-gradient(to bottom right, #4ebcf5, #9e19d0);
    color: white;
    font-weight: bold;
    box-shadow: 4px 4px 10px #9f82d1;
    max-height: 50px;
}

.menu-items h2 {
    margin-top: 5px;
    font-size: 16px;
    text-align: left;
    padding: 10px;
    padding-left: 0px;
}

.menu-items div:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
}

.menu-items img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.menu-items p {
    font-size: 16px;
}

/* Main content styles */
.main-content {
    margin: 30px 20px 0 380px;
    padding: 20px;
    height: 100vh;
    transition: margin-left 0.3s ease;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
    .left-sidebar {
        width: 200px;
    }

    .main-content {
        margin-left: 220px;
    }
}

@media (max-width: 992px) {
    .left-sidebar {
        width: 175px;
    }

    .main-content {
        margin-left: 195px;
    }
}

@media (max-width: 768px) {
    .left-sidebar {
        width: 108px;
    }

    .main-content {
        margin-left: 128px;
    }

    .menu-items p {
        opacity: 0;
        visibility: hidden;
        font-size: 0;
    }
}