* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #4ebcf5, #9e19d0);
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0 20px;
}

.card {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    padding: 40px;
    width: 650px;
    height: 500px;
    text-align: center;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
    margin: 0 10px;
}

@media (max-width: 1200px) {
    .card {
        width: 280px;
        height: 380px;
    }
}

@media (max-width: 992px) {
    .card {
        width: 260px;
        height: 360px;
    }
}

@media (max-width: 768px) {
    .card {
        width: 240px;
        height: 340px;
    }
}

@media (max-width: 576px) {
    .card {
        width: 220px;
        height: 320px;
    }
}

.card:hover {
    transform: scale(1.05);
}

.icon img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

p {
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #6b63cf;
}
